<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title> Title</title>
</head>
<body>
<div th:each="director : ${directors}">
    <h1>Director List</h1>
    <h2 th:text="${director.name}"></h2>
    <h6 th:inline="text">specialising in [[${director.genre}]]</h6>
    <ul>
        <th:block th:each="movie : ${director.movies}">
            <li th:inline="text"><b>[[${movie.title}]]</b> released in
                [[${movie.year}]].</li>
        </th:block>
    </ul>
</div>
</body>
</html>